.Shop{
    width: 100%;    
}
.ShopTitle{
    margin-top: 60px;
    position :relative;
    text-align: center;
    font-size: 35px;
    transition: 0.2s ease-in;
    background: linear-gradient(to left,rgb(179, 0, 255) ,black,rgb(85, 2, 163));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in;
    animation: titleHover 2.5s forwards;
}

@keyframes titleHover{
    0% {background-position: 0 0;}
    100%{background-position: 100vw ;}
}

@keyframes loadProducts{
    0% {top:100px ;opacity:0}
    100% {top:0;opacity: 1;}
}

.Products{
    height: auto;
    width: 100%;
    display: grid ;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: center;
    animation: loadProducts 1s linear;
}
.Product{
    width: 300px;
    height: auto;
    margin: 70px;
    padding : 10px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: .2s;
}
.Product img{
    width: 100%;
}

.Product:hover{
    transform: scale(1.05);
}

.Product .description{
    text-align: center;
}

.Product :hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .Products {
        grid-template-columns: 1fr; /* Change the layout to a single column */
    }
}
/* ######################## */
.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }
/* Add this CSS to create a circular element around the cursor */
